// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0 auto;
  background: $c-background;
  font-family: 'Slabo 27px', serif;
}

img {

  max-width: 100%;
  max-height: 100%;
  color: inherit;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}
