
.skill {}

.card {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;

  &__column {
    flex-grow: 1;
    min-width: 12rem;
  }

  &__item {
    color: $c-primary;
    text-align: center;
  }
}

.underline {
  border-bottom: 2px solid $c-primary;

}
