
.top {
  border-bottom: 2px solid $c-primary;
}

.title {
  margin: 0;
  padding-top: 2rem;
  color: $c-primary;
  font-size: 3rem;
  text-align: center;

  &__links {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    a {
      margin: 0 1rem;
      color: $c-primary;
    }
  }
}
