// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';
// rgba(55, 164, 143, 1)
// #90A4AE
// #8D6E63
// #ff8200
// #FFC107
// #2962FF
$c-primary: black;
$c-background: rgba(101, 118, 115, 0.5);
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'top';
@import 'grid';
@import 'about';
@import 'skills';
@import 'contact';
