// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';
$c-primary: rgba(55, 164, 143, 1);
$c-background: rgba(101, 118, 115, 0.5);
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'top';
@import 'grid';
@import 'about';
@import 'skills';

.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
  margin: 2rem 0;
  filter: brightness(70%);

  &__content {
    height: 100%;
    margin-top: 3rem;

    &-pic {
      width: 30%;
      min-width: 18rem;
      height: 40vh;
      border: 4px solid $c-primary;
      border-radius: 50%;
      background-image: url('phone.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.4);
    }
    &-item {
      color: $c-primary;
      a {
        color: $c-primary;
        text-decoration: none;
      }
    }
  }
}
