// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'top';

.section-grid {
  margin-top: 5rem;
}

.grid__title {
  display: flex;
  justify-content: center;
}

.grid__item-content {
  display: none;
  position: absolute;
  top: 10%;
  padding: 0.5rem;
  color: white;
  z-index: 3;

  &:hover {
    .grid__item-pic {
      filter: brightness(30%);
    }
  }

  &-title {
    text-align: center;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
    flex-grow: 1;
    width: calc(100% / 3);
    min-width: 20rem;
    margin: auto;

    &-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:hover {
        filter: brightness(30%);

        .grid__item-content {
          display: block;
          // filter: brightness(100%);
        }
      }
    }

  }
}
